* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .7px; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.header {
  max-width: 118rem;
  margin: 0 auto; }

.container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column;
      justify-content: space-around;
      height: 20rem; } }

.classes-container {
  background-image: url(../img/pattern.png);
  padding: 5rem 0; }

.classes {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 120rem;
  margin-top: 10rem;
  flex-wrap: wrap; }

.why {
  background-color: #07baca;
  padding: 5rem 0; }

.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 117rem;
  margin: 0 auto; }

.pricing {
  padding: 6rem 0; }

.footer--container {
  display: flex;
  justify-content: space-between;
  max-width: 117rem;
  margin: 0 auto;
  padding: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .footer--container {
      flex-direction: column; } }

footer {
  background-color: #34495e;
  padding: 6rem 0;
  color: #fff;
  font-size: 1.3rem; }
  @media only screen and (max-width: 56.25em) {
    footer {
      padding-bottom: 1rem; } }

.logo {
  width: 21.5rem; }
  @media only screen and (max-width: 62.5em) {
    .logo {
      width: 18rem; } }

.navigation__item {
  display: inline-block; }

.navigation__link:link, .navigation__link:visited {
  font-size: 1.4rem;
  color: #34495e;
  padding: 1.8rem 3rem;
  text-decoration: none;
  border-top: none;
  transition: all .2s; }
  @media only screen and (max-width: 68.75em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.3rem;
      padding: 1rem 2rem; } }

.navigation__link:hover {
  border-top: 4px solid #00cec0; }

.user * {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 5px;
  text-align: center; }
  @media only screen and (max-width: 62.5em) {
    .user * {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .user * {
      font-size: 1.3rem; } }

.user__login:link, .user__login:visited {
  border: 2px solid #00cec0;
  color: #00cec0;
  font-weight: 600;
  width: 11.8rem;
  line-height: 3.7rem; }
  @media only screen and (max-width: 62.5em) {
    .user__login:link, .user__login:visited {
      width: 10rem;
      line-height: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .user__login:link, .user__login:visited {
      width: 11.8rem;
      line-height: 3.7rem; } }

.user__register:link, .user__register:visited {
  color: #fff;
  background-color: #00cec0;
  font-weight: 600;
  width: 12rem;
  line-height: 4rem;
  margin-left: 1.5rem; }
  @media only screen and (max-width: 62.5em) {
    .user__register:link, .user__register:visited {
      width: 10.2rem;
      line-height: 3.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .user__register:link, .user__register:visited {
      width: 12rem;
      line-height: 4rem; } }

.line {
  width: 80%;
  height: 1px;
  background-color: #00cec0;
  margin: 1rem auto; }

.search {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .search__input {
    width: 48rem;
    height: 4rem;
    border: 2px solid #00cec0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .search__input {
        width: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        width: 34rem; } }
    .search__input:focus {
      outline: none; }
  .search__icon {
    width: 5rem;
    height: 4.4rem;
    background-color: #00cec0;
    padding: 1.2rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 2px; }

.hero {
  background-image: url(../img/bg.jpg);
  height: 40rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  margin-top: 2rem;
  text-align: center; }
  .hero * {
    margin-left: 37rem;
    margin-top: 1.4rem; }
    @media only screen and (max-width: 56.25em) {
      .hero * {
        margin-left: 0; } }
  .hero__heading {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 400; }
    @media only screen and (max-width: 56.25em) {
      .hero__heading {
        margin-top: 5rem; } }
  .hero span {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 600; }
  .hero__tagline {
    font-size: 2.2rem;
    color: #fff;
    font-weight: 400; }

.btn:link, .btn:visited {
  width: 28rem;
  line-height: 4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: center; }

.btn--orange {
  background-color: #f47c54;
  box-shadow: 0px 5px 0px 0px #e5663c;
  transition: all .2s; }
  .btn--orange:hover {
    background-color: #fe4141;
    box-shadow: 0px 5px 0px 0px #f10909;
    transform: translateY(-5px); }

.btn--blue {
  background-color: #34495e;
  box-shadow: 0px 5px 0px 0px #24394e;
  transition: all .2s; }
  .btn--blue:hover {
    background-color: #32427d;
    box-shadow: 0px 5px 0px 0px #283461;
    transform: translateY(-5px); }

.btn--orange--long:link, .btn--orange--long:visited {
  width: 30rem;
  line-height: 4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  background-color: #f47c54;
  box-shadow: 0px 5px 0px 0px #e5663c;
  transition: all .2s; }

.btn--orange--long:hover {
  background-color: #fe4141;
  box-shadow: 0px 5px 0px 0px #f10909; }

.btn--green {
  background-color: #00cec0;
  box-shadow: 0px 5px 0px 0px #07b7ab;
  transition: all .2s; }
  .btn--green:hover {
    background-color: #32427d;
    box-shadow: 0px 5px 0px 0px #283461; }

.heading-primary {
  font-family: 'Fredoka One', cursive;
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.3rem; } }

.heading-primary--blue {
  color: #34495e;
  position: relative; }

.heading-primary--blue::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  background-color: #00cec0;
  width: 25rem;
  height: 6px; }

.heading-primary--white {
  color: #fff;
  position: relative;
  margin-bottom: 6rem; }

.heading-primary--white::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  background-color: #fff;
  width: 25rem;
  height: 6px; }

.heading-secondary {
  font-size: 2.2rem;
  color: #34495e;
  font-weight: 600;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      margin-bottom: 2rem; } }

.heading-secondary::before {
  content: "";
  position: absolute;
  left: -3rem;
  width: 1rem;
  height: 5rem;
  background-color: #00cec0; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary::before {
      width: 5rem;
      height: 1rem;
      left: 50%;
      transform: translate(-50%, -50%);
      top: -40%; } }

.subject {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55rem;
  padding: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .subject {
      justify-content: space-evenly; } }
  .subject__title {
    width: 8rem; }
    @media only screen and (max-width: 37.5em) {
      .subject__title {
        width: 100%;
        text-align: center; } }
  .subject__desc {
    font-size: 1.4rem;
    color: #34495e;
    line-height: 1.6;
    width: 29rem; }
  .subject__btn {
    margin-left: 18rem;
    margin-top: 2rem;
    align-self: flex-end; }
    @media only screen and (max-width: 37.5em) {
      .subject__btn {
        margin-left: 0; } }

.reason {
  text-align: center;
  width: 36rem;
  margin: 4rem 0; }
  @media only screen and (max-width: 68.75em) {
    .reason {
      width: 32rem; } }
  .reason__icon {
    margin-bottom: 2rem; }
  .reason__desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    height: 7rem; }

.plans {
  max-width: 114rem;
  margin: 14rem auto;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .plans {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 56.25em) {
    .plans {
      margin-bottom: -5rem; } }

.plan {
  width: 35rem;
  height: 50rem;
  box-shadow: 0px 1px 4.9px 0.1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding: 6rem 0; }
  @media only screen and (max-width: 68.75em) {
    .plan {
      width: 32rem; } }
  @media only screen and (max-width: 62.5em) {
    .plan {
      width: 28rem; } }
  @media only screen and (max-width: 56.25em) {
    .plan {
      width: 34rem;
      padding: 2rem 0;
      margin-bottom: 8rem; } }
  .plan__title {
    font-size: 2.6rem;
    color: #34495e;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 62.5em) {
      .plan__title {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .plan__title {
        font-size: 2.6rem; } }
  .plan__price {
    font-size: 4.5rem;
    color: #00cec0;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 62.5em) {
      .plan__price {
        font-size: 4rem; } }
    .plan__price span {
      font-size: 1.4rem;
      margin-left: -1rem;
      font-weight: 600; }
      @media only screen and (max-width: 62.5em) {
        .plan__price span {
          font-size: 1.2rem; } }
  .plan__desc {
    font-size: 1.4rem;
    color: #34495e;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 68.75em) {
      .plan__desc {
        font-size: 1.2rem; } }
  .plan__btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .plan__btn {
        top: 91%; } }
    @media only screen and (max-width: 62.5em) {
      .plan__btn:link, .plan__btn:visited {
        width: 17rem; } }

.about {
  width: 30rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      width: 100%;
      text-align: center; } }
  .about__title {
    font-weight: 600;
    margin-bottom: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .about__title {
        margin-bottom: 2rem;
        font-size: 1.6rem; } }
  .about__desc {
    line-height: 1.8;
    margin-bottom: 4rem; }
  .about__email {
    margin-bottom: 4rem;
    display: inline-block; }
  .about__phone {
    margin-bottom: 4rem;
    display: inline-block; }
  .about__location {
    display: inline-block; }
  .about__icon {
    margin-right: 1rem; }
  .about .crazy {
    margin-bottom: 1.1rem; }

@media only screen and (max-width: 56.25em) {
  .links {
    width: 100%;
    text-align: center;
    order: 1;
    display: flex;
    justify-content: center;
    margin-top: 15rem; } }

.links__title {
  font-weight: 600;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .links__title {
      display: none; } }

.links__link:link, .links__link:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .links__link:link, .links__link:visited {
      padding: 0 2rem; } }

@media only screen and (max-width: 56.25em) {
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem; } }

.contact__title {
  font-weight: 600;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .contact__title {
      margin-bottom: 2rem;
      font-size: 1.6rem; } }

.contact__input {
  width: 30rem;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #fff; }
  .contact__input::placeholder {
    color: rgba(255, 255, 255, 0.4); }
  .contact__input:focus {
    outline: none; }

.contact__btn {
  margin-top: 8rem; }
